@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
    
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-size: 3rem;
    font-weight: bold;
    color: #131313;
}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner Related Styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-image{
    width: 100%;
}

/* Team And Feature Related Styles */
.teams{
    align-items: center;
    
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-features{
    max-width: 530px;
    margin-left: 73px;
    
}

#quick-list{
    font-weight: 500;
}
.feature-description, .feature-title{
    margin-bottom: 25px;
}
/* Feature Section Related Styles  */
.features{
    gap: 140px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}

.feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
.experience-year{
    font-size: 4rem;
    font-weight: bold;
}
.featured-architect img{
    width: 100%;
}

/* Some Facts Related Styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* gap: 125px; */
    
    
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description{
    max-width: 540px;
    margin-bottom: 100px;
}
.some-facts{
    margin-bottom: 24px;
}

/* Sponsors Related Styles */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);

}
.sponsor-companies img{
    filter: grayscale(100%);
}

/* footer styles */
.footer-heading{
    max-width: 1200px;
    margin: 130px auto  30px auto;
    font-size: 1.25rem;
    border-radius: 8px;
    background-color: #FFF4E7;
    text-align: center;
    padding: 20px;
}


/* Responsive Media Query */
@media screen and (max-width:576px) {
    .navbar,
     .nav-links,
      .teams,
      .features{
        flex-direction: column;
    }
    
    .team-img-container, 
    .facts-container,
    .sponsor-companies{
        grid-template-columns: repeat(1,1fr);
    }
    .facts-container, .sponsor-companies{
        justify-items: center;
        gap: 24px;
    }

    .our-features{
    margin-left: 20px;
    }

    #experience-badge{
        /* margin-top: 20px;
        margin-left: 10px; */
        margin: 20px auto;
        justify-content: center;
    }
    
}

/* MEdium Size Device */
@media screen and (min-width:576px) and (max-width: 992px){
    .teams, .features{
        flex-direction: column;
    }
    .our-features{
    margin-left: 50px auto;
    }
    .sponsor-companies, .facts-container{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}